<div class="item" ng-controller="WidgetCounterController">
  <div class="panel panel-dark dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="as-link glyphicon glyphicon-plus" ng-click="openForm({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <div class="row">
        <div class="col-lg-10">
          <h1>{{ data.value }}</h1>
          <h2>{{ widget.label }}</h2>
        </div>
        <div class="graph-status">
          <img ng-if="indicator == 'up'" src="/vendor/dashboard/img/up.png" />
          <img ng-if="indicator == 'down'" src="/vendor/dashboard/img/down.png" />
          <img ng-if="indicator == 'same'" src="/vendor/dashboard/img/same.png" />
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12">
          <span class="help-block">{{ message }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
