web:
  image: luis/sails
  volumes:
    - application:/var/www
    - logs:/var/log/supervisor
  links:
    - "mysql:mysql"
    - "redis:redis"
  ports:
    - "80:1337"
  environment:
    NODE_ENV: development
    PORT: 1337
    GOOGLE_OAUTH_CLIENTID: something.apps.googleusercontent.com
    GOOGLE_OAUTH_CLIENTSECRET: secret
    GOOGLE_OAUTH_CALLBACKURL: http://localhost/auth/google/callback
    SECRET: c205e344a308f4f93b9c9098922ef73a
mysql:
  image: mysql:latest
  expose:
    - "3306"
  environment:
    MYSQL_ROOT_PASSWORD: root123
    MYSQL_DATABASE: dashi3
    MYSQL_USER: admin
    MYSQL_PASSWORD: admin123
redis:
  image: redis:latest
