<% include ../header.ejs %>


<div id="admin-page">
	<div class="container">
		<h1>New application</h1>
		<hr />
		<% include ../../messages.ejs %>
		<form action="/admin/applications/add" method="POST">
			<div class="form-group">
				<label class="form-label">Application name</label>
				<input type="text" name="name" class="form-control" />
				<div class="help-block">Enter the application name</div>
			</div>

			<div class="form-group">
				<button class="btn btn-success" type="submit">Save</button>
			</div>
		</form>
	</div>
</div>