<% include ../header.ejs %>

<div id="admin-page">
	<div class="container">
		<h1><%= result.name %></h1>
		<hr />
		<div class="form-group">
			<label class="form-label">Application Token</label>
			<div class="form-control"><%= result.token %></div>
		</div>
	</div>
</div>