<%- partial('header.ejs') %>

<div ng-controller="DashboardController">
  <script type="text/ng-template" id="openAddDataPoint.html">
    <div class="modal-header">
        <h3 class="modal-title">Add data point</h3>
    </div>
    <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="data-point">Value</label>
            <input type="text" name="data-point" class="form-control" />
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="openDataList.html">
    <div class="modal-header">
        <h3 class="modal-title">Historic values</h3>
    </div>
    <div class="modal-body">
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <th>Fecha</th>
          <th>Valor</th>
        </thead>
        <tbody>
          <tr>
            <td>Hoy</td>
            <td>250</td>
          </tr>
          <tr>
            <td>Ayer</td>
            <td>249</td>
          </tr>
          <tr>
            <td>Miércoles</td>
            <td>245</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="openWidgetSettings.html">
    <div class="modal-header">
        <h3 class="modal-title">Settings</h3>
    </div>
    <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="data-point">Value</label>
            <input type="text" name="data-point" class="form-control" />
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <div id="page" class="container-fluid">
    <div class="row">
      <div class="item small">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total de enlaces en Edulink
            <div class="pull-right">
              <i class="glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
              <i class="glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
              <i class="glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
            </div>
          </div>
          <div class="chart-stage blue">
            <div id="grid-1-1">
              <h1>250 enlaces</h1>
            </div>
          </div>
          <div class="chart-notes">
            Enlaces totales de http://edulink.iiiepe.edu.mx
          </div>
        </div>

      </div>
      <div class="item small">
        <div class="chart-wrapper">
          <div class="chart-title">
            Historial de enlaces en Edulink
            <div class="pull-right">
              <i class="glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
              <i class="glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
              <i class="glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
            </div>
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <canvas id="line" 
                class="chart chart-line" 
                data="data"
                labels="labels" 
                legend="true" 
                series="series" 
                click="onClick">
              </canvas>
            </div>
          </div>
          <div class="chart-notes">
            Enlaces totales de http://edulink.iiiepe.edu.mx
          </div>
        </div>
      </div>
    </div>

  </div>
</div>