<%- partial('header.ejs') %>

<div id="page-content-wrapper">
	<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

	<div id="page" class="container-fluid" ng-controller="DashboardController">
	  <div gridster="gridsterOptions">
	    <ul>
		    <li gridster-item="widget" ng-repeat="widget in widgets">
		    		<div ng-include="'/widgets/' + widget.type" onload="widget = widget"></div>
		    </li>
	    </ul>
	  </div>
	</div>
</div>
