<%- partial('header.ejs') %>

<div id="page" class="container-fluid" ng-controller="DashboardController" ng-init="init(<%- dashboard.id %>)">
  <div gridster="gridsterOptions">
    <ul>
	    <li gridster-item="widget" ng-repeat="widget in widgets">
	    		<div ng-include="'/widgets/' + widget.template" onload="widget = widget"></div>
	    </li>
    </ul>
  </div>
</div>
