<div class="overlay"></div>
    
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" ng-controller="HeaderController" ng-init="init('<%- dashboard.id %>')">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <a href="/">
         Dashboards
      </a>
    </li>
    <li>
      <a href="#" ng-click="openMarketplace()">
        <i class="glyphicon glyphicon-th"></i> Marketplace
      </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li ng-repeat="dashboard in dashboards" ng-class="(currentDashboard.id == dashboard.id) ? 'selected' : ''">
      <a ng-class="(currentDashboard.id == dashboard.id) ? 'selected' : ''" href="/dashboard/{{ dashboard.path }}" alt="{{ dashboard.description }}" title="{{ dashboard.name }}">{{ dashboard.name }}</a>
    </li>
  </ul>

  <ul class="nav bottom-nav">
    <li class="divider"></li>
    <% if(authenticated) { %>
      <li><a href="/account/settings"><span class="glyphicon glyphicon-user"></span> Account settings</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    <% } else { %>
      <li><a href="/login">Sign in</a></li>
      <li><a href="/register">Register</a></li>
    <% } %>
  </ul>
</nav>
<!-- /#sidebar-wrapper -->

