<%- partial('headerFrontpage.ejs') %>

<div id="page" class="container-fluid">
  
    <h1>Dashboards</h1>
  
  
    <div class="col-lg-12">
      <% dashboards.forEach(function(dashboard) { %>
        <div class="well well-sm item">
          <h3>
            <a href="/dashboard/<%= dashboard.path %>">
              <%= dashboard.name %>
            </a>
          </h3>
          <%= dashboard.description %>
        </div>    
      <% }) %>
    </div>
  
</div>

