<%- partial('headerFrontpage.ejs') %>

<div id="page-content-wrapper">
  <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

    <div class="container">
      <% for(var row = 0; row < dashboards.length; row++) { %>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="dashboard-grid-item">
            <div class="dashboard-grid-name">
              <a href="/dashboard/<%= dashboards[row].path %>">
                <%= dashboards[row].name %>
              </a>
            </div>

            <div class="dashboard-description">
              <%= dashboards[row].description %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
</div>
