<%- partial('headerFrontpage.ejs') %>

<div id="page-content-wrapper" ng-controller="MainHeaderController">
  <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

    <div class="container">
      <div class="dashboard-grid-items">

        <div class="col-lg-4 col-md-4 col-sm-12" ng-repeat="dashboard in dashboards">
          <li class="dashboard-grid-item">
            <div class="dashboard-grid-name">
              <a href="/dashboard/{{ dashboard.path }}">
                {{ dashboard.name }}
              </a>
            </div>

            <div class="dashboard-description">
              {{ dashboard.description }}
            </div>
          </li>
        </div>
        
      </div>
    </div>
</div>
