

<div class="container well">
	<h1>New application token</h1>
	<form action="/admin/tokens/add" method="POST">
		<div class="form-group">
			<label class="form-label">Application name</label>
			<input type="text" name="name" class="form-control" />
			<div class="help-block">Enter the application name</div>
		</div>

		<div class="form-group">
			<button class="btn btn-success" type="submit">Save</button>
		</div>
	</form>
</div>