<% include ../header.ejs %>

<div id="admin-page">
	<div class="container">
		<h1>Remove <%= result.name %></h1>
		<hr />
		<div class="alert alert-warning">Are you sure you want to remove this token? This action cannot be undone</div>
		<form action="/admin/tokens/<%= result.id %>/remove" method="POST">
			<div class="form-group">
				<button class="btn btn-danger" type="submit">Remove</button>
				<a href="/admin/tokens" class="btn btn-info">Cancel</a>
			</div>
		</form>
	</div>
</div>