<% include ../header.ejs %>

<div id="admin-page">
	<div class="container">
		<h1>Settings</h1>
		<hr />
		<% include ../../messages.ejs %>
		<form action="/admin/settings" method="POST">

			<div class="form-group">
				<label class="form-label">Theme</label>
				<select name="theme" class="form-control">
					<option value="dark" <%= (config.theme == 'dark') ? 'selected' : '' %>>Dark</option>
					<option value="light" <%= (config.theme == 'light') ? 'selected' : '' %>>Light</option>
				</select>
			</div>
			
			<div class="form-group">
				<label class="form-label">Widget size</label>
				<select name="widget_size" class="form-control">
					<option value="default" <%= (config.widget_size == 'default') ? 'selected' : '' %>>Default</option>
					<option value="large" <%= (config.widget_size == 'large') ? 'selected' : '' %>>Large</option>
				</select>
			</div>
	
			<div class="form-group">
				<button class="btn btn-success" type="submit">Save</button>
			</div>
			
		</form>
	</div>
</div>