<div class="item" ng-controller="WidgetMessagesController">
  <div class="panel panel-dark dash-unit" data-row="{{ data.row }}" data-col="{{ data.column }}" data-sizex="2" data-sizey="2">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-plus" ng-click="openForm({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <div ng-repeat="element in data | limitTo : 3">
        <div class="media">
          <div class="media-left" ng-show="element.value.image">
            <img src="{{ element.value.image }}" width="64"/>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{ element.value.title }}
            </h4>
            <div>
              {{ element.value.content }}
            </div>
            <div ng-show="element.value.link">
              <a class="btn btn-xs btn-primary" target="_blank" href="{{ element.value.link }}">
                More
              </a>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
