<div class="item small">
  <div class="chart-wrapper">
    <div class="chart-title">
      Historial de enlaces en Edulink
      <div class="pull-right">
        <i class="glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
        <i class="glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
    <div class="chart-stage">
      <div id="grid-1-1">
        <canvas id="line" 
          class="chart chart-line" 
          data="data"
          labels="labels" 
          legend="true" 
          series="series" 
          click="onClick">
        </canvas>
      </div>
    </div>
    <div class="chart-notes">
      Enlaces totales de http://edulink.iiiepe.edu.mx
    </div>
  </div>
</div>