<div class="item" ng-controller="WidgetMessagesController">
  <div class="dash-unit" data-row="{{ data.row }}" data-col="{{ data.column }}" data-sizex="2" data-sizey="2">
    <div class="dash-title">
      {{ widget.title }}
    </div>
    <div class="dash-content">
      <div ng-repeat="element in data">
        <div><strong>{{ element.value.title }}</strong></div>
        <div>
          {{ element.value.content }}
        </div>
        <div class="help-block"><a class="btn btn-xs btn-primary" target="_blank" href="{{ element.value.link }}">View more</a></div>
        <hr />
      </div>
    </div>
    <div class="dash-footer">
      <span class="dash-description">
        {{ widget.description }}
      </span>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="as-link glyphicon glyphicon-plus" ng-click="OpenAddDataPointMessage({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
  </div>
</div>

