<div class="item" ng-controller="WidgetNumberController">
  <div class="dash-unit">
    <header class="dash-title">
      {{ widget.title }}
    </header>
    <div class="dash-content">
      <div class="pull-left">
        <h1>{{ data.value }}</h1>
        <h2>{{ data.definition }}</h2>
      </div>
      <div class="graph-status pull-right">
        <img ng-if="indicator == 'up'" src="/vendor/dashboard/img/up.png" /> 
        <img ng-if="indicator == 'down'" src="/vendor/dashboard/img/down.png" /> 
        <img ng-if="indicator == 'same'" src="/vendor/dashboard/img/same.png" /> 
      </div>
      <div class="row clearfix">
        <div class="col-lg-12">
          <span class="help-block">{{ message }}</span>
        </div>
      </div>
    </div>
    <div class="dash-footer">
      <span class="dash-description">
        {{ widget.description }}
      </span>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="as-link glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
  </div>
</div>