<div class="item" ng-controller="WidgetNumberController">
  <div class="dash-unit">
    <div class="dash-title">
      {{ widget.title }}
    </div>
    <div class="dash-content">
      <div class="pull-left">
        <h1>{{ data }}</h1>
        <h2>{{ widget.textToAppend }}</h2>
      </div>
      <div class="graph-status pull-right">
        <img src="/vendor/dashboard/img/up.png" /> 
      </div>
    </div>
    <div class="dash-footer">
      <span class="dash-description">
        {{ widget.description }}
      </span>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="as-link glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
  </div>
</div>