<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Dashi3</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/d">Dashboards</a></li>

                <% if(!authenticated) { %>
                  <li><a href="/login">Sign in</a></li>
                  <li><a href="/register">Register</a></li>
                <% } %>

                <% if(authenticated) { %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administer <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/settings">Settings</a></li>
                      <li><a href="/admin/dashboards">Dashboards</a></li>
                      <li><a href="/admin/applications">Applications</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/account/settings">Account settings</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                <% } %>
            </ul>
        </div>
    </div>
</header><!--/header-->