<div class="modal-header">
  <h3 class="modal-title">Create new storage</h3>
</div>
<div class="modal-body">
  <form name="storage_form" novalidate>
    <div class="form-group">
      <p><strong>Suggested id: </strong>{{ id }} <a ng-click="toggleIdInput()">{{ idButtonLabel }}</a></p>
    </div>
    

    <div class="form-group" ng-show="idInputIsVisible">
      <label for="name">Id:</label>
      
      <div class="alert alert-danger" ng-show="storage_form.id.$invalid">
        <p ng-show="storage_form.id.$invalid">
        The id must not have spaces or caracters different than numbers and letters.
        </p>
      </div>

      <input type="text" name="id" class="form-control" ng-model="id" ng-pattern="/^[a-zA-Z0-9-_]+$/" />
      <div class="help-block">The id must be unique and must by an alphanumeric string</div>
    </div>

    <div class="form-group">
      <label for="name">Name *</label>
      <input type="text" name="name" class="form-control" ng-model="name" />
      <div class="help-block">The name must be unique</div>
    </div>
    <div class="form-group">
      <label for="type">Type *</label>
      <select class="form-control" ng-model="type" name="type">
        <option value="counter">Counter</option>
        <option value="graph">Graph</option>
        <option value="completion">Completion</option>
        <option value="status">Status</option>
        <option value="message">Message</option>
        <option value="map">Map</option>
      </select>
      <div class="help-block">Choose from the select box what kind of data you want to save</div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" ng-model="description"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Create</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
