<div class="modal-header">
    <h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
    <form>
      <div class="form-group">
        <label for="data-point">Value</label>
        <input type="text" name="data-point" class="form-control" />
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>