<div class="modal-header">
  <h3 class="modal-title">Add a new widget</h3>
</div>
<div class="modal-body">
  <form name="storage_form" novalidate>
    <div class="form-group">
      <p><strong>Suggested id: </strong>{{ id }} <a ng-click="toggleIdInput()">{{ idButtonLabel }}</a></p>
    </div>
    <div class="form-group" ng-show="idInputIsVisible">
      <label for="name">Id:</label>

      <div class="alert alert-danger" ng-show="storage_form.id.$invalid">
        <p ng-show="storage_form.id.$invalid">
        The id must not have spaces or characters different than numbers and letters.
        </p>
      </div>

      <input type="text" name="id" class="form-control" ng-model="id" ng-pattern="/^[a-zA-Z0-9-_]+$/" />
      <div class="help-block">The id must be unique and must by an alphanumeric string</div>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" ng-model="data.title" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" ng-model="data.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control" ng-model="data.label" name="label" />
    </div>
    <div class="form-group">
      <label for="type">Type *</label>
      <select class="form-control" ng-model="data.type" name="type">
        <option value="counter">Counter</option>
        <option value="singlelinegraph">Single line graph</option>
        <option value="seriesgraph">Series graph</option>
        <option value="completion">Completion</option>
        <option value="status">Status</option>
        <option value="messages">Messages</option>
        <option value="map">Map</option>
        <option value="time">Time</option>
      </select>
      <div class="help-block">Choose from the select box what kind of data you want to save</div>
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <select class="form-control" ng-model="data.size" name="type">
        <option value="small">Small</option>
        <option value="big">Big</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Create</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
