<div class="item" ng-controller="WidgetTimeController">
  <div class="panel panel-dark dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <h2>
        {{ data.time }}
      </h2>
      <h5 ng-show="widget.settings.showDate === true">
        {{ data.date }}
      </h5>
    </div>
  </div>
</div>
