<div class="item small">
  <div class="chart-wrapper">
    <div class="chart-title">
      Total de enlaces en Edulink
      <div class="pull-right">
        <i class="glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
        <i class="glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
    <div class="chart-stage blue">
      <div id="grid-1-1">
        <h1>250 enlaces</h1>
      </div>
    </div>
    <div class="chart-notes">
      Enlaces totales de http://edulink.iiiepe.edu.mx
    </div>
  </div>
</div>