<div class="item" ng-controller="WidgetStatusController">
  <div class="panel panel-<%= sails.config.settings.theme %> dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-plus" ng-click="openForm({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content status-{{ data.value }}">
      <h2>
        {{ widget.title }} {{ data.value }}
      </h2>
      <p></p>
      
      <div class="status-message">
        <span class="help-block">{{ data.message }}</span>
      </div>
    
    </div>
  </div>
</div>