<div class="item" ng-controller="WidgetStatusController">
  <div class="panel panel-dark dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-plus" ng-click="openForm({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <h2>
        {{ widget.title }}
      </h2>
      <p></p>
      <div class="row">
        <div class="col-lg-7">
          <span class="help-block">{{ data.message }}</span>
        </div>
        <div class="col-lg-5">
          <img src="/images/status-ok.png" ng-show="data.value === 'ok'" />
          <img src="/images/status-danger.png" ng-show="data.value === 'error'" />
          <img src="/images/status-warning.png" ng-show="data.value === 'warning'" />
        </div>
      </div>
    </div>
  </div>
</div>