<div class="item w2" ng-controller="WidgetSeriesGraphController">
  <div class="panel panel-<%= sails.config.settings.theme %> dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <div id="curve-{{widget.id}}" style="width: 900px; height: 500px"></div>
    </div>
  </div>
</div>
