<div class="item w2" ng-controller="WidgetSeriesGraphController">
  <div class="panel panel-dark dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
      </canvas>
    </div>
  </div>
</div>
