
<div class="signin">
  <div class="container">
    <% if (errors) {%>
      <% errors.forEach(function (error) { %>
        <%= __(error) %>
      <% }) %>
    <% } %>
    
    <form class="form-signin" role="form" action="/auth/local" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label class="sr-only" for="username">Username or Email</label>
      <input class="form-control" type="text" name="identifier" placeholder="Username or Email">
      <label class="sr-only" for="password">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password">
      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    <% if (providers.length) {%>
      <h4>You can also use one of these...</h4>

      <% Object.keys(providers).forEach(function (key) { %>
        <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
      <% }) %>
    <% } %>
  </div>
</div>
<div class="signin-line"></div>
