<div class="signin">
  <div class="container">
    <% if (errors) {%>
      <% errors.forEach(function (error) { %>
        <%= __(error) %>
      <% }) %>
    <% } %>
    
    <form class="form-signin" role="form" action="/auth/local/register" method="post">
      <h2 class="form-signin-heading">Please register</h2>
      
      <label class="sr-only" for="username">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Username">
      
      <label class="sr-only" for="email">Email</label>
      <input class="form-control" type="text" name="email" placeholder="Email">
      
      <label class="sr-only" for="password">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password">

      <button class="btn btn-primary" type="submit">Register</button>
      
      <% if (providers) { %>
        <hr />
        <% _.each(providers, function (provider) { %>
          <a href="/auth/<%= provider.slug %>" class="btn btn-default" role="button"><%= provider.name %></a>
        <% }) %>
      <% } %>
    </form>

  </div>
</div>
<div class="signin-line"></div>
