<div class="item" ng-controller="WidgetTwitteruserController">
  <div class="panel panel-<%= sails.config.settings.theme %> dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">{{ data.counter }} tweets since {{ data.start }}</div>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <div class="row"></div>

      <div class="twitter-tweet" ng-repeat="tweet in data.tweets">
        <div>{{ tweet.text }}</div>
        <p>- {{ tweet.user.name }} (<a target="_blank" href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>) <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">{{ tweet.created_at }}</a>
        </p>
        <hr />
      </div>
      <p></p>
    </div>
  </div>
</div>
