<div class="item" ng-controller="WidgetTwitteruserController">
  <div class="panel panel-<%= sails.config.settings.theme %> dash-unit">
    <header class="panel-heading dash-title">
      {{ widget.title }}
      <div class="pull-right">{{ data.counter }} tweets since {{ data.start }}</div>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-cog" ng-click="openSettings({})"></i>
      </div>
    </header>
    <div class="panel-body dash-content">
      <div class="row"></div>

      <div class="twitter-tweet" ng-repeat="tweet in data.tweets | limitTo : limit">
        <div class="media">
          <div class="media-left">
            <img src="{{ tweet.user.profile_image_url }}" />
          </div>
          <div class="media-body">
            <div>{{ tweet.text }}</div>
            <p>- {{ tweet.user.name }} (<a target="_blank" href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>) <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">{{ tweet.created_at }}</a>
            </p>
            <div ng-if="{{ tweet.hasImage }}">
              <img src="{{ tweet.entities.media[0].media_url }}" width="100%" />
            </div>
          </div>
        </div>
        <hr />
      </div>
      <p></p>
    </div>
  </div>
</div>
