<div class="modal-header">
    <h3 class="modal-title">Add data</h3>
</div>
<div class="modal-body">
    <form>
      <div class="form-group">
        <label for="value">Value</label>
        <input type="text" ng-model="value" class="form-control" name="value" />
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>