@small: 25%;
@medium: 50%;
@large: 70%;

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#page {
  margin-top: 3.75em;
}

.packery {
  
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item,
.grid-sizer {
  width: @small;
}

.item {
  min-height: 160px;
  float: left;
  overflow: hidden;
  background: #000;
}

.item.w2 { width:  @medium; }
.item.w4 { width:  @large; }

.item.h2 { height: 160px; }
.item.h4 { height: 320px; }